name: Pull Request
on:
  pull_request:
    branches: [ main ]
  merge_group:
    branches: [ main ]
permissions:
  pull-requests: write
  contents: read
jobs:
  pr-verify:
    runs-on: ubuntu-latest
    name: PR Verify
    env:
      AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
      AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
      DIGITALOCEAN_TOKEN: "${{ secrets.DIGITALOCEAN_TOKEN }}"
      AWS_REQUEST_CHECKSUM_CALCULATION: "when_required"
      AWS_RESPONSE_CHECKSUM_VALIDATION: "when_required"
    steps:
      - name: Clone Code
        uses: actions/checkout@v6
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
      - name: Init Terraform
        working-directory: terraform
        run: terraform init -input=false
      - name: Lint Terraform
        working-directory: terraform
        run: terraform fmt -check -recursive
      - name: Validate Terraform
        working-directory: terraform
        run: terraform validate
      - name: Plan Terraform
        working-directory: terraform
        run: terraform plan -no-color --out=tfplan.tfplan
      - name: Post PR comment
        uses: borchero/terraform-plan-comment@v2.5.2
        with:
          token: ${{ github.token }}
          planfile: tfplan.tfplan
          working-directory: terraform
